.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.QuestionForm form {
  border: 1pt solid #62929E;
  border-radius: 10pt;
  padding: 1em;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.CommentForm form {
  border: 1pt solid #62929E;
  border-radius: 10pt;
  padding: 1em;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}
.MainContent {
  margin-top: 100pt;
}
.header {
  margin-top: 20pt;
}
.paragraph {
  text-align: left;
  /* text-indent: 50px; */
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: #282c34;
  text-decoration: underline;
}
.username {
  font-style: italic;
  color: #09d3ac;
  margin-top: 60pt;
}

.CommentList {
  padding: 1em;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

.Question {
  border: 1px solid grey;
  border-radius: 10pt;
  margin: 15px;
}

.title {
  font-size: 20px;
}

.title:hover {
  color: blue;
  text-decoration: underline;
}

.PollDiv {
  padding: 1em;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}